<div class="details">
  <h3>{{post.title}}</h3>
  <h4>{{post.description}}</h4>
  <h5>By: {{post.author}}</h5>
  <h5>Posted on: {{post.date}}</h5>
</div>

<h2> Reviews </h2>
<ul>
  {{#each post.reviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>
<button {{action 'delete' post}}>Delete</button>
