<div class="details">
  <h3>{{post.title}}</h3>
  <h4>{{post.description}}</h4>
  <h5>By: {{post.author}}</h5>
  <h5>Posted on: {{post.date}}</h5>
</div>

<button {{action 'delete' post}}>Delete</button>
